* {
  border: red solid 1px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header {
  width 100%
  position: fixed;
  z-index: 1;
  align-items: center;
  background-color: black;
  height: 69px
  border-bottom: 1px solid seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
nav {
  display: block;
  flex-grow: 1;
  text-align: right;
}

h2 {
  font-size: 30px
}

.main {
  display: block;
  margin: auto;
  height: 2179px;
  width: 1200px;
}

#mission {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../resources/img-mission-background.jpg");
  justify-content: center;
  text-align: center;
  width: 1200px;
  height: 700px;
}

.content {
  margin: 298.5px 0px;
  /*padding: 10px;*/
  display: block;
}

#store {
  margin: auto;
  padding-top: 70px;
  height: 700px;
  width: 1000px;
  text-align: center;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;

}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.item {
  padding: 5px;
}
/*
.flex-container.locations {
  padding-top: 5px;
}

#locations {
  background-image: url("../resources/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}
*/
