/* {
  border: red solid 1px;
}*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
  width: 1442px;
}


header {
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  background-color: black;
  height: 69px
}


header .flex-container {
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  /*width: 100%;*/
}


img {
  height: 50px;
}


nav span {
  color: seashell;
  padding: 10px 20px;
  text-decoration: underline;
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


nav {
  display: block;
  flex-grow: 1;
  text-align: right;
}


h2, h3, h4 {
  margin: 0;
  padding: 10px;
}


h2 {
  font-size: 33px
}


.main {
  display: block;
  margin: auto;
  width: 1200px;
}


#mission {
  background-image: url("../resources/img-mission-background.jpg");
  padding-top: 70px;
  height: 700px;
}


#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}


#store {
  padding-top: 70px;
  height: 700px;
  width: 1000px;
  margin: auto;
}


.item img {
  height: 200px;
  margin: 10px;
  display: block;
}


.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}


.item {
  padding: 2px;
}


#locations {
  background-image: url("../resources/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  display: block;
}


#locations .flex-container {
  margin: 0;
  justify-content: center;
  flex-wrap: nowrap;
}


.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


footer {
  text-align: left;
  padding-left: 20px;
}






  text-align: left;
  padding-left: 20px;
}*/
